version: "3.9"

services:
  my-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:8080"
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 10000M
        reservations:
          cpus: "1.50"
          memory: 7000M
